.search::placeholder {
  /* Microsoft Edge */
  @apply text-sm font-thin;
  border: none;
  color: white;
}
.messages-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.messages-wrapper::-webkit-scrollbar {
  display: none;
}
